@charset "UTF-8";

/* /////////////////////////////////////
   CotEditor Archives Page Style Sheet
   
   author  : 1024jp <wolfrosch.com>
   site    : coteditor.com
   target  : archives page
   lastMod : 2026-04
  ////////////////////////////////////// */

/* non-AppStore version */

#non-AppStore > a {
	font-size: 160%;
	
	float: inline-start;
	border-radius: 22px;
	padding-inline-end: 20px;
	margin-inline-end: 10px;
	margin-block-end: 10px;
}
#non-AppStore > a span {
	font-weight: 200;
}
#non-AppStore > a img {
	vertical-align: middle;
}
#non-AppStore dl:not(.fqa) > * {
	display: inline;
}
#non-AppStore dl:not(.fqa) dd+dd::before {
	content: ' | ';
	font-size: 90%;
	opacity: 0.3;
	padding-block: 0;
	padding-inline: 0.2em;
}
#non-AppStore dl:not(.fqa) dd+dt::before {
	content: '\000A';  /* line break */
	white-space: pre;
}
#non-AppStore dl:not(.fqa) dt:after {
	content: ':';
	margin-inline-end: 0.5em;
}
#non-AppStore dl.fqa {
	clear: both;
	margin-block-start: 2em;
}


/* older versions */

table.download tbody tr > * {
	height: 3em;
}
table.download img {
	vertical-align: middle;
	margin-inline-end: 4px;
}


@media (max-width: 700px) {
	#non-AppStore > a {
		float: none;
		display: block;
		border-inline-end: none;
		border-block-end: 1px solid hsla(0,0%,0%,.1);
		padding-inline-end: 0;
		padding-block-end: 16px;
		margin-inline-end: 0;
		margin-block-end: 16px;
	}

	#non-AppStore dl:not(.fqa) > * {
		display: inline;
	}

	table.download tbody tr > * {
		height: auto;
		white-space: nowrap;
	}
}
