@charset "UTF-8";

/* /////////////////////////////////////
   CotEditor Beta Distribution Page Style Sheet
   
   author  : 1024jp <wolfrosch.com>
   site    : coteditor.com
   target  : beta page
   lastMod : 2026-04
  ////////////////////////////////////// */

:root {
	color-scheme: dark;
}
body {
	text-align: center;
}

a[href] {
	text-decoration: underline;
	color: var(--text);
}
a[href]:hover {
	text-decoration: none;
	background: var(--separator);
	border-radius: 0.2em;
}

body::before {
	content: '';
	position: absolute;
	inset-block-start: 0;
	inset-inline: 0;
	height: 8px;
	background: url('parts/safaty_stripes.svg');
	box-shadow: 0 1px 2px hsla(0,0%,0%,.16);
}

/* title */
body > header {
	margin: 20px;
	position: relative;
}
body > header::before {
	display: none;
}
body > header > img {
	padding: 8px;
}
body > header h1 {
	font: 64px/1.0 ui-rounded, 'Avenir', 'Helvetica Neue', sans-serif;
	color: var(--secondary-text);
	opacity: 0.5;
}
body > header h1 span {
	font-family: 'Noteworthy';
	line-height: 0.8;
	font-weight: normal;
	display: inline-block;
	border-radius: 0.2em;
	border: 2px solid var(--separator);
	padding-block: 0;
	padding-inline: 0.14em;
	margin-inline-start: -0.1em;
}


/* download */
a.download {
	font-family: ui-rounded, 'Avenir', 'Helvetica Neue', sans-serif;
	font-size: 19px;
	padding-block: 0.5em;
	padding-inline: 1em;
	margin-block: 0.2em;
	margin-inline: 0;
	
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 1px;
	text-decoration: none;
	color: white;
	text-indent: 0;
	white-space: nowrap;
	text-shadow: 0 1px 2px hsla(0,0%,0%,.16);
	
	display: inline-block;
	border-radius: 12px;
	border: none !important;
	background: linear-gradient(hsla(0,0%,100%,.08), hsla(0,0%,0%,.08));
	background-color: var(--accent);
	box-shadow: 0 1px 3px hsla(0,0%,0%,.08);
	transition: background 0.3s;
}
a.download:hover {
	background-color: hsl(from var(--accent) h s calc(l - 15));
}
a.download span {
	font-size: 95%;
	font-weight: normal;
	text-transform: none;
	text-shadow: 0 0 2px hsla(0,0%,0%,.3);
}

a.download + ul {
	margin: 0.5em;
}
a.download + ul li {
	display: inline;
	padding: 0;
	margin: 0;
}
a.download + ul li+li::before {
	content: ' | ';
	margin: 0;
	opacity: 0.5;
}

span.note {
	color: #aaa;
}
[role="separator"] {
	color: var(--separator);
}
p strong {
	border-block-end: 3px double;
}

p#issues {
	font-size: 120%;
	margin: 2em;
}


@media (max-width: 700px) {
	body > header h1 {
		font-size: clamp(48px, 13vw, 64px);
	}
}
