@charset "UTF-8";

/* /////////////////////////////////////
   CotEditor Release Notes Style Sheet
   
   author  : 1024jp <wolfrosch.com>
   site    : coteditor.github.io
   target  : changelog pages
   lastMod : 2014-03
  ////////////////////////////////////// */


/*___header__________________________________________________________________*/

body > header {
	font: 26px/1.0 'Lucida Grande', sans-serif;
	letter-spacing: 0.5px;
	color: hsl(0,0%,33%);
}
body > header a {
	color: inherit !important;
	background: inherit !important;
}
body > header a:hover {
	-webkit-filter: blur(1.5px);
}
body > header:before {
	display: inline-block;
	content: '';
	width: 48px;
	height: 48px;
	background:url(../img/appicon/64@2x.png);
	background-size: 48px;
	margin-right: 4px;
	vertical-align: -14px;
}


/*___changelog_______________________________________________________________*/

main > header h1 {
	font-size: 22px;
}
main > header p {
	color: hsl(0,0%,40%);
	margin: 0;
}
main h2 {
	font-size: 110%;
	font-weight: bold;
}

.none {
	color: hsl(0,0%,50%);
}
