@charset "UTF-8";

/* /////////////////////////////////////
   CotEditor Changelog Page Style Sheet
   
   author  : 1024jp <wolfrosch.com>
   site    : coteditor.github.io
   target  : changelog pages
   lastMod : 2014-03
  ////////////////////////////////////// */


main > header h1 {
	font-size: 22px;
}
main > header h1 + p {
	color: hsl(0,0%,40%);
}
main h2 {
	font-size: 110%;
	font-weight: bold;
	margin: 0.2em 0;
}

.none {
	color: hsl(0,0%,50%);
}


/* footnote */
main a sup {
	color: hsl(0,0%,50%);
}
main > footer > ol {
	font-size: 85%;
	margin-left: 1em;
}
