@charset "UTF-8";

/* /////////////////////////////////////
   CotEditor Common Style Sheet
   
   author  : 1024jp <wolfrosch.com>
   site    : coteditor.github.io
   target  : all pages
   lastMod : 2014-03
  ////////////////////////////////////// */


/*___0.universal_reset_______________________________________________________*/

* {
	margin: 0;
	padding: 0;
	line-height: 1.0;
	font-weight: inherit;
	font-style:  inherit;
}
img {
	border: none;
}
a {
	text-decoration: none;
	transition: -webkit-filter 0.3s;
}
ul li {
	list-style: none;
}


/* HTML5 */
main, nav, header, footer, section, article, aside, figure {
	display: block;
}



/*___1.common rule___________________________________________________________*/

/* anchors */
a:link,
a:visited {
	color: hsl(90,45%,45%);
}
a:link:hover {
	background: hsla(90,45%,45%,.2);
}
a:not([href]) {
	color: inherit;
}
a > sup {
	color: hsl(0,0%,50%);
	font-size: 70%;
	margin: 0 1px;
}


/* basic spacing */
main p,
main dd,
main li {
	line-height: 1.7;
}
main h1,
main h2,
main h3,
main h4,
main dt {
	line-height: 1.4;
}

main p {
	margin: 1em 0;
}
section {
	margin: 2em 0;
}
section > section {
	margin: 1em 0;
}

/* list marker */
main ul li::before {
	content: '–';
	font: normal 100% 'Myriad';
	color: black;
	opacity: 0.5;
	
	margin-right: 0.4em;
}
main ul li {
	text-indent: -0.9em;
	padding-left: 0.9em;
}
main li+li {
	margin-top: 0.2em;
}
main ul ul {
	margin-left: 1em;
}

/* footnote */
main > footer > ol {
	font-size: 85%;
	margin-left: 20px;
}


/*___2.layout________________________________________________________________*/

/* body */
body {
	font: 14px 'Lucida Grande', sans-serif;
	color: hsl(0,0%,10%);
	
	background: white;
	padding: 15px 20px;
}

/* main */
main {
	margin: 30px 10px;
}

/* footer */
body > footer {
	font-size: 13px;
	margin-top: 50px;
}


/*___3.scripts_______________________________________________________________*/

/* tooltip */
[role=tooltip]  { display:none; position:absolute; z-index:20; padding:0.3em 0.6em;
                  box-shadow:0 2px 5px hsla(0,0%,  0%,.4);
                  background:-webkit-linear-gradient(hsla(0,0%,100%,.06), transparent);
                  background:        linear-gradient(hsla(0,0%,100%,.06), transparent);
                  background-color:hsl(0,0%,15%); opacity:0.95; border-radius:3px }
[role=tooltip] div  { height:0; width:0; position:absolute; left:40px; bottom:-17px;
                      border:9px solid transparent; border-top-color:hsl(0,0%,15%);
                      filter:url(filters.svg#dropshadow);
              -webkit-filter:drop-shadow(0px 2px 3px hsla(0,0%,0%,.2)) }
[role=tooltip] p    { color:#eee; text-shadow:0 1px 2px black; line-height:1.2 }
[role=tooltip] span { color:#aaa; text-shadow:none; font-size:92% }
[role=tooltip] p+p  { color:#aaa; text-shadow:none; font-size:85% ;
                      word-wrap:break-word; margin-top:1px }
[role=tooltip] p:before  { opacity:0.6; margin-right:5px }

[role=tooltip].note p {
	font-size: 90%;
	line-height: 1.4;
	text-align: justify;
	text-shadow: none;
	
	width: 280px;
	padding: 2px 2px 3px;
}
