@charset "UTF-8";

/* /////////////////////////////////////
   CotEditor Common Style Sheet
   
   author  : 1024jp <wolfrosch.com>
   site    : coteditor.github.io
   target  : all pages
   lastMod : 2014-03
  ////////////////////////////////////// */


* {
	margin: 0;
	padding: 0;
	font-style: inherit;
}
ul li {
	list-style: none;
}

body {
	background: hsl(0,0%,100%);
	
	font-family: 'Lucida Grande', sans-serif;
	color: hsl(0,0%,40%);
	text-align: center;
	padding: 20px 100px;
	
}

a {
	color: hsl(90,40%,50%);
}
a:hover {
	text-decoration: none;
}
p {
	margin: 1em;
}
main > section {
	margin: 2em;
}

footer {
	font-size: 13px;
	margin-top: 50px;
}


#top > h1 {
	font: bold 64px/1.0 'Lucida Grande', serif;
	margin: 10px 0 5px;
}


aside.sns li {
	display: inline-block;
	max-width: 85px;
}