@charset "UTF-8";

/* /////////////////////////////////////
   CotEditor Contact Page Style Sheet
   
   author  : 1024jp <wolfrosch.com>
   site    : coteditor.com
   target  : contact page
   lastMod : 2026-04
  ////////////////////////////////////// */

figure img {
	border-radius: 6px;
}

#team ul {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5em 1.25rem;
}
#team ul li {
	margin: 0;
	list-style: none;
}
#team .github-card {
	width: min(100%, 280px);
	height: 150px;
}
#team .position {
	font-size: 120%;
	color: hsl(0,0%,40%);
	text-transform: capitalize;
	
	display: block;
	margin-bottom: 0.5em;
}
