@charset "UTF-8";

/* /////////////////////////////////////
   CotEditor Release Notes Style Sheet
   
   author  : 1024jp <wolfrosch.com>
   site    : coteditor.com
   target  : release notes
   lastMod : 2026-04
  ////////////////////////////////////// */


:root {
	color-scheme: light dark;
}

body > header {
	display: none;
}
main {
	width: 100%;
	max-width: 50em;
}


/* general */

.trivial,
.label {
	color: light-dark(hsl(198,40%,45%), hsl(198,40%,55%));
	border: 1px solid;
	border-radius: 0.3em;
	padding-block: 0;
	padding-inline: 0.2em;
}
.trivial {
	color: light-dark(hsl(0,0%,60%), hsl(0,0%,60%));
}
p.important {
	color: var(--information);
	background: var(--information-background);
	border-radius: 0.8em;
	padding-block: 0.5em;
	padding-inline: 1em;
}

article {
	font-size: 14px;
}

article+section,
article+article {
	margin-block-start: 4em;
	border-block-start: 1px solid var(--separator);
	padding-block-start: 1em;
}

article > header h1 {
	font-size: 22px;
}
article > header p {
	color: var(--secondary-text);
	margin: 0;
}
article h2 {
	font-size: 110%;
	font-weight: bold;
	margin-block: 0.4em;
	margin-inline: 0;
}

kbd {
	font-family: -apple-system, sans-serif;
	padding-block: 0;
	padding-inline: 0.2em;
	margin-block: 0;
	margin-inline: 0.1em;
	border-radius: 0.2em;
	border: 1px solid -apple-system-tertiary-label;
	background-color: transparent;
	box-shadow: 0 1px 0 hsla(0, 0%, 0%, .05);
}
.none {
	color: var(--tertiary-text);
}


/* highlights */

.highlights {
	border-block-end: 1px solid var(--separator);
	padding-block-end: 1em;
}
.highlights h1 {
	font-size: 1.4rem;
	margin-block-end: 0.2em;
}
.highlights dt::before {
	content: '✔︎';
	color: var(--accent);
	font-size: 120%;
	font-weight: normal;
	vertical-align: -0.05em;
	margin-inline-end: 0.3em;
}
.highlights dt {
	font-size: 108%;
	font-weight: 600;
}
.highlights dd {
	margin-block-end: 1em;
}


/* footnote */

section > footer > ol,
article > footer > ol,
main > footer > ol {
	font-size: 90%;
	margin-inline-start: 20px;
}


/* pre-release */

body.prerelease::before {
	content: '';
	position: absolute;
	inset-block-start: 0;
	inset-inline: 0;
	height: 8px;
	background: url('parts/safaty_stripes.svg');
	box-shadow: 0 1px 2px hsla(0,0%,0%,.16);
}

body.prerelease p.attention {
	font-size: 1.1rem;
	padding-block: 0;
}
body.prerelease p.attention strong {
	background-color: light-dark(hsla(50,100%,50%,0.7), hsla(50,100%,50%,.3));
	padding-inline: 0.2em;
}
