@charset "UTF-8";

/* /////////////////////////////////////
   CotEditor Release Notes Style Sheet
   
   author  : 1024jp <wolfrosch.com>
   site    : coteditor.github.io
   target  : changelog pages
   lastMod : 2014-04
  ////////////////////////////////////// */


p.attention strong {
    color: hsl(16,70%,50%);
    font-size: 116%;
}
p.note strong {
	text-decoration: underline;
}

article {
	font-size: 13px;
}

article+article {
	margin-top: 4em;
	border-top: 1px solid hsla(0,0%,0%,.1);
	padding-top: 1em;
}

article > header h1 {
	font-size: 22px;
}
article > header p {
	color: hsl(0,0%,40%);
	margin: 0;
}
article h2 {
	font-size: 110%;
	font-weight: bold;
}

.none {
	color: hsl(0,0%,50%);
}
