@charset "UTF-8";

/* /////////////////////////////////////
   CotEditor Release Notes Style Sheet
   
   author  : 1024jp <wolfrosch.com>
   site    : coteditor.com
   target  : release notes
   lastMod : 2026-04
  ////////////////////////////////////// */

/* header for smaller logo */

body > header {
	display: none;
}
main {
	width: 100%;
	max-width: 50em;
}


/* general */

.trivial,
.label {
	color: hsl(198,40%,45%);
	border: 1px solid;
	border-radius: 2px;
	padding-block: 0;
	padding-inline: 0.2em;
}
.trivial {
	color: hsl(0, 0%, 60%);
}
p.important {
	color: hsl(203,30%,25%);
	background: hsl(203,50%,97%);
	border-radius: 0.8em;
	padding-block: 0.5em;
	padding-inline: 1em;
}

article {
	font-size: 14px;
}

article+section,
article+article {
	margin-block-start: 4em;
	border-top: 1px solid hsla(0,0%,0%,.1);
	padding-block-start: 1em;
}

article > header h1 {
	font-size: 22px;
}
article > header p {
	color: hsl(0,0%,40%);
	margin: 0;
}
article h2 {
	font-size: 110%;
	font-weight: bold;
	margin-block: 0.4em;
	margin-inline: 0;
}

kbd {
	font-family: -apple-system, sans-serif;
	padding-block: 0;
	padding-inline: 0.2em;
	margin-block: 0;
	margin-inline: 0.1em;
	border-radius: 0.2em;
	border: 1px solid -apple-system-tertiary-label;
	box-shadow: 0 1px 0 hsla(0, 0%, 0%, .05);
}
.none {
	color: hsl(0,0%,50%);
}


/* highlights */

.highlights {
	border-bottom: 1px solid hsl(203,20%,90%);
	padding-block-end: 1em;
}
.highlights h1 {
	font-size: 1.5rem;
	margin-block-end: 0.2em;
}
.highlights dt::before {
	content: '✔︎';
	color: hsl(90,50%,50%);
	font-size: 140%;
	font-weight: normal;
	vertical-align: -0.05em;
	margin-inline-end: 0.3em;
}
.highlights dt {
	font-size: 110%;
	font-weight: 600;
}
.highlights dd {
	margin-block-end: 1em;
}


/* footnote */

section > footer > ol,
article > footer > ol,
main > footer > ol {
	font-size: 90%;
	margin-inline-start: 20px;
}

footer ol li:target {
	border-radius: 0.4em;
	background-color: hsla(196,100%,10%,.06);
}


/* pre-release */

body.prerelease p.attention strong {
    font-size: 116%;
    background-color: hsl(50,100%,75%);
    padding-block: 0;
    padding-inline: 0.3em;
}

body.prerelease::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 8px;
	background: url('parts/safaty_stripes.svg');
	box-shadow: 0 1px 2px hsla(0,0%,0%,.16);
}
