@charset "UTF-8";

/* /////////////////////////////////////
   CotEditor Top Page Style Sheet
   
   author  : 1024jp <wolfrosch.com>
   site    : coteditor.github.io
   target  : top page
   lastMod : 2014-03
  ////////////////////////////////////// */

body {
	color: hsl(0,0%,40%);
	text-align: center;
	font-size: 16px;
}
main > section {
	margin: 2em auto;
}
main > section::before {
	content: '';
	display: block;
	width:360px;
	margin: 20px auto;
	border-bottom: 1px solid hsla(0,0%,0%,.1);
}
main > section > h2 {
	font-weight: bold;
	font-size: 120%;
	margin: 10px;
}


/* title */
body > header {
	margin: 20px;
}
body > header h1 {
	font: bold 64px/1.0 'Lucida Grande', serif;
	margin: 10px 0 5px;
}


/* download latest */
main > section > h2 time {
	font-size: 80%;
	font-weight: normal;
	color: hsla(0,0%,0%,.5);
}
a[href="download"] {
	font-size: 19px;
	padding: 0.5em 1em;
	margin:  1px;
	
	font-weight: bold;
	line-height: 1.2;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: white;
	text-indent: 0;
	white-space: nowrap;
	text-shadow: 0 1px 2px hsla(0,0%,0%,.4);
	
	display: inline-block;
	border-radius: 4px;
	border: none !important;
	background: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.05));
	background:         linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.05));
	background-color: hsl(196,70%,60%);
	box-shadow: 0 0   0 1px hsla(0,0%,  0%,.2) inset,
	            0 1px 0 1px hsla(0,0%,100%,.1) inset,
	            0 1px 2px   hsla(0,0%,  0%,.2);
	-webkit-transition: background 0.3s;
	        transition: background 0.3s;
}
a[href="download"]:hover {
	background-color: hsl(196,75%,50%);
}

#latest dl {
	margin: 10px auto;
	font-size: 80%;
	width: 15em;
}
#latest dl > * {
	display: inline-block;
	white-space: nowrap;
}
#latest dl dt {
	font-size: 110%;
	font-weight: bold;
}
#latest dl dt:after {
	content: ':';
	font-weight: normal;
	margin-left: 1px;
}
#latest dl dd {
	display: inline-block;
}
#latest dl dd+dd:before {
	content: ' | ';
	opacity: 0.5;
	font-size: 90%;
}
#latest dl dd+dt {
	margin-left: 1em;
}
#latest dl dd+dt::before {
	content: "\a";
}

/* develop */
a.github {
	display: inline-block;
	color: white;
	background: hsl(0,0%,20%);
	border-radius: 4px;
	padding: 5px 10px;
	margin: 20px;
}
a.github:hover {
	background: hsl(0,0%,50%);
}


/* sns buttons */
aside.sns {
	margin: 30px 0 -20px;
}
aside.sns li {
	display: inline-block;
	max-width: 85px;
}
